# Run This Cell First

In [70]:
import datetime
import time
import zoneinfo

# datetime

## Core Types

In [25]:
dt = datetime.datetime(2024, 3, 4, 11, 34, 23)
print(dt)

d = datetime.date(2024, 3, 4)
print(d)

t = datetime.time(11, 34, 23)
print(t)

2024-03-04 11:34:23
2024-03-04
11:34:23

## Current Date/Time

These get __naive local__ time.

In [8]:
dt = datetime.datetime.now()
print(dt)

d = datetime.date.today()
print(d)

t = datetime.datetime.now()
print(t)

2025-01-20 19:51:54.467747
2025-01-20
2025-01-20 19:51:54.468252

## Fields

In [18]:
# date and time from datetime
dt = datetime.datetime(2024, 3, 4, 11, 34, 23)
d = dt.date()
t = dt.time()
print(dt, d, t)
print()

# date fields
print(dt.year)
print(dt.month)
print(dt.day)
print()
print(d.year)
print(d.month)
print(d.day)
print()

# time fields
print(dt.hour)
print(dt.minute)
print(dt.second)
print()
print(t.hour)
print(t.minute)
print(t.second)
print()

2024-03-04 11:34:23 2024-03-04 11:34:23

2024
3
4

2024
3
4

11
34
23

11
34
23

## Microseconds

In [23]:
dt = datetime.datetime(2024, 3, 4, 11, 34, 23, 7) # optional 4th arg
print(dt)
t = datetime.time(11, 34, 23, 7) # optional 4th arg
print(t)

print(dt.microsecond)
print(t.microsecond)

2024-03-04 11:34:23.000007
11:34:23.000007
7
7

## Epoch

In [82]:
dt = datetime.datetime(2024, 3, 4, 11, 34, 23, 7) # optional 4th arg

print(dt.timestamp()) # float seconds since UTC epoch

1709580863.000007

## Missing Fields

In [28]:
dt = datetime.datetime(2024, 3, 4) ## time fields optional
print(dt) # still there - just defaulted to zero

print(dt.hour)

2024-03-04 00:00:00
0

## Immutable Transformation

In [30]:
dt = datetime.datetime(2024, 3, 4)
print(dt.replace(hour=5, month=1)) # only specified fields are changed

2024-01-04 05:00:00

## timedelta

In [45]:
# zero object (no delta)
td = datetime.timedelta() # all fields default to 0
print(td)

# actual span
# no months or years allowed
td = datetime.timedelta(weeks=5, hours=-2.3) # 35 days - 2.3 hours -> additive, signed, int or float values
print(td) # notice both fields are changed but they come out equivalent

# fields (still additive, but normalized)
print(td.days) # 34
print(td.seconds) # 78120 (which means 24-2.3 hours)
print(td.microseconds) # 0

# total seconds (single unified float field)
print(td.total_seconds())

0:00:00
34 days, 21:42:00
34
78120
0
3015720.0

## Use of timedelta

In [87]:
dt1 = datetime.datetime(2024, 3, 4, 12, 34, 23, 101)
dt2 = datetime.datetime(2024, 3, 5, 12, 34, 23, 70)

print(dt2- dt1)
print(dt2.date() - dt1.date())
#print(dt2.time() - dt1.time()) # strangely not allowed

print(dt1 + (dt2- dt1)) # arithmetic with timedelta to update date

23:59:59.999969
1 day, 0:00:00
2024-03-05 12:34:23.000070

## Comparisons

In [52]:
dt1 = datetime.datetime(2024, 3, 4, 12, 34, 23, 101)
dt2 = datetime.datetime(2024, 3, 5, 12, 34, 23, 70)

print(dt1 < dt2)
print(dt1 == dt2)

True
False

## Time Zones

A `time` or `datetime` is either aware or naive.
- __naive__
  - the date/time is literal and location has nothing to do with it
- __aware__
  - the date/time is still treated as literal for printing
  - in addition, there is a `tzinfo` stamped on it to aid in __conversions__
    - a date/time is converted to another timezone by changing the time and the tzinfo (immutable transform)
    
The code below shows a few ways to get a timezone onto a date/time. Note that the date/time is always treated literally, even when you do `replace()`.  The exception is when you get a __now__ date/time because it will get what is now in the timezone. When you replace a timezone on an __existing__ object, the date/time fields are __not modified__.

To convert to another timezone, you can use `dt.astimezone(timezone)` which will change both the time (and maybe date) and timezone on a new object.

To get more timezones, see `zoneinfo` library in its own section below.

In [92]:
dt_naive = datetime.datetime(2024, 3, 4, 12, 34, 23, 101)
dt_utc = datetime.datetime.now(tz=datetime.timezone.utc) # UTC constant makes an aware-date in UTC timezone
dt_utc2 = datetime.datetime(2024, 3, 4, 12, 34, 23, 101, tzinfo=datetime.timezone.utc)
dt_utc3 = dt_naive.replace(tzinfo=datetime.timezone.utc)

print('Naive:', dt_naive)
print('UTC:', dt_utc)
print('UTC2:', dt_utc2)
print('UTC3:', dt_utc3)
print()

print('Naive tzinfo:', dt_naive.tzinfo, dt_naive.tzname())
print('Aware tzinfo:', dt_utc.tzinfo, dt_utc.tzname())
print('Aware tzinfo2:', dt_utc2.tzinfo, dt_utc2.tzname())
print('Aware tzinfo3:', dt_utc3.tzinfo, dt_utc3.tzname())
print()

print('Naive converted to UTC:', dt_naive.astimezone(tz=datetime.timezone.utc))
print('UTC2 converted to naive:', dt_utc2.astimezone(tz=None))
print()

print('Naive UTC Offset:', dt_naive.utcoffset())
print('UTC UTC OFfset:', dt_utc2.utcoffset())
print('Naive DST:', dt_naive.dst())
print('UTC DST:', dt_utc2.dst())
print()

print('cross-timezone comparisons are smart')
print(dt_naive == dt_utc2)
print(dt_utc2 == dt_utc2.astimezone(tz=zoneinfo.ZoneInfo("America/Los_Angeles")))

Naive: 2024-03-04 12:34:23.000101
UTC: 2025-01-21 04:57:15.183808+00:00
UTC2: 2024-03-04 12:34:23.000101+00:00
UTC3: 2024-03-04 12:34:23.000101+00:00

Naive tzinfo: None None
Aware tzinfo: UTC UTC
Aware tzinfo2: UTC UTC
Aware tzinfo3: UTC UTC

Naive converted to UTC: 2024-03-04 20:34:23.000101+00:00
UTC2 converted to naive: 2024-03-04 04:34:23.000101-08:00

Naive UTC Offset: None
UTC UTC OFfset: 0:00:00
Naive DST: None
UTC DST: None

cross-timezone comparisons are smart
False
True

## Date/Time to String

See https://strftime.org/ for formats

In [78]:
dt = datetime.datetime.now()
s = dt.strftime('%Y-%m-%d %H:%M:%S.%f') # string formatted time

print(s)

2025-01-20 20:43:52.676627

## String to Date/Time

See https://strftime.org/ for formats

In [80]:
s = '2025-01-20 20:43:52.676627'
dt = datetime.datetime.strptime(s, '%Y-%m-%d %H:%M:%S.%f') # string parsed time

print(dt)

2025-01-20 20:43:52.676627

# zoneinfo

## ZoneInfo

Create one based on a __string name__ (see docs) and then use it the same way you would use `datetime.timezone.utc` above.

In [75]:
timezone = zoneinfo.ZoneInfo("America/Los_Angeles")
print(timezone)

dt = datetime.datetime.now(tz=timezone)
print(dt)
print(dt.tzinfo)

America/Los_Angeles
2025-01-20 20:39:23.347400-08:00
America/Los_Angeles

# time

In [83]:
print(time.time()) # current time -> float seconds since UTC epoch

1737434857.91374

In [84]:
print(time.time_ns()) # current time -> int ns since UTC epoch

1737434881264181000

In [85]:
time.sleep(1.0) # time given in float seconds