# Normalization
Explanation:
This code snippet demonstrates the concept of normalization in database design using SQL. Normalization is a process of organizing data in a database to eliminate redundancy and improve data integrity.

The code creates several tables to illustrate different levels of normalization. Here's a breakdown of the tables:

1. Customers table: Stores customer information such as customer_id, customer_name, customer_email, and customer_phone.
2. Orders table: Stores order information including order_id, customer_id (foreign key referencing Customers table), order_date, and order_total.
3. OrderItems table: Stores individual order items with order_item_id, order_id (foreign key referencing Orders table), product_id (foreign key referencing Products table), quantity, and price.
4. Products table: Stores product information with product_id, product_name, category_id (foreign key referencing Categories table), and category_name.
5. Categories table: Stores category information with category_id, category_name, and category_description.

Sample data is then inserted into the tables to demonstrate the relationships between them.

Finally, a query is executed to retrieve customer information along with their orders and order items using JOIN statements to link the tables together.

The result of the query will display the customer name, order details, order item details, product name, quantity, and price for each customer.

In [ ]:
-- Create a table to demonstrate normalization
CREATE TABLE Customers (
    customer_id INT PRIMARY KEY,
    customer_name VARCHAR(50),
    customer_email VARCHAR(50),
    customer_phone VARCHAR(15)
);

-- Create a table to demonstrate first normal form (1NF)
CREATE TABLE Orders (
    order_id INT PRIMARY KEY,
    customer_id INT,
    order_date DATE,
    order_total DECIMAL(10, 2),
    FOREIGN KEY (customer_id) REFERENCES Customers(customer_id)
);

-- Create a table to demonstrate second normal form (2NF)
CREATE TABLE OrderItems (
    order_item_id INT PRIMARY KEY,
    order_id INT,
    product_id INT,
    quantity INT,
    price DECIMAL(10, 2),
    FOREIGN KEY (order_id) REFERENCES Orders(order_id),
    FOREIGN KEY (product_id) REFERENCES Products(product_id)
);

-- Create a table to demonstrate third normal form (3NF)
CREATE TABLE Products (
    product_id INT PRIMARY KEY,
    product_name VARCHAR(50),
    category_id INT,
    category_name VARCHAR(50),
    FOREIGN KEY (category_id) REFERENCES Categories(category_id)
);

-- Create a table to demonstrate fourth normal form (4NF)
CREATE TABLE Categories (
    category_id INT PRIMARY KEY,
    category_name VARCHAR(50),
    category_description TEXT
);

-- Insert sample data into the tables
INSERT INTO Customers (customer_id, customer_name, customer_email, customer_phone)
VALUES (1, 'John Doe', 'john.doe@example.com', '123-456-7890');

INSERT INTO Orders (order_id, customer_id, order_date, order_total)
VALUES (1, 1, '2022-01-01', 100.00);

INSERT INTO OrderItems (order_item_id, order_id, product_id, quantity, price)
VALUES (1, 1, 1, 2, 50.00);

INSERT INTO Products (product_id, product_name, category_id, category_name)
VALUES (1, 'Product A', 1, 'Category A');

INSERT INTO Categories (category_id, category_name, category_description)
VALUES (1, 'Category A', 'Description of Category A');

-- Query to retrieve customer information along with their orders and order items
SELECT
    c.customer_name,
    o.order_id,
    o.order_date,
    oi.order_item_id,
    p.product_name,
    oi.quantity,
    oi.price
FROM
    Customers c
    JOIN Orders o ON c.customer_id = o.customer_id
    JOIN OrderItems oi ON o.order_id = oi.order_id
    JOIN Products p ON oi.product_id = p.product_id;

# Denormalization
Explanation:
In this code snippet, we demonstrate the concept of denormalization in database design using SQL. Denormalization is the process of combining normalized tables into a single table to improve query performance by reducing the number of joins required.

We start by creating three tables: `customers`, `orders`, and `order_items`. The `customers` table stores customer information, the `orders` table stores order information, and the `order_items` table stores order item details.

To demonstrate denormalization, we denormalize the tables by combining the necessary information into a single query. The query retrieves order details along with customer information by joining the `orders`, `customers`, and `order_items` tables.

The result of the query will include columns from all three tables, providing a denormalized view of the data. This denormalized structure eliminates the need for multiple joins when querying the data, improving performance.

Expected Output:
```
order_id | first_name | last_name | order_date  | total_amount | product_name | quantity | price
---------|------------|-----------|-------------|--------------|--------------|----------|-------
1        | John       | Doe       | 2022-01-01  | 100.00       | Product A    | 2        | 50.00
1        | John       | Doe       | 2022-01-01  | 100.00       | Product B    | 1        | 25.00
```

The output displays the denormalized result of the query, combining order details with customer information. Each row represents an order item, with the corresponding customer information repeated for each item.

In [ ]:
-- Create a table for storing customer information
CREATE TABLE customers (
    customer_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    email VARCHAR(100),
    phone_number VARCHAR(20)
);

-- Create a table for storing order information
CREATE TABLE orders (
    order_id INT PRIMARY KEY,
    customer_id INT,
    order_date DATE,
    total_amount DECIMAL(10, 2),
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
);

-- Create a table for storing order items
CREATE TABLE order_items (
    order_item_id INT PRIMARY KEY,
    order_id INT,
    product_name VARCHAR(100),
    quantity INT,
    price DECIMAL(10, 2),
    FOREIGN KEY (order_id) REFERENCES orders(order_id)
);

-- Insert sample data into the tables
INSERT INTO customers (customer_id, first_name, last_name, email, phone_number)
VALUES (1, 'John', 'Doe', 'john.doe@example.com', '123-456-7890');

INSERT INTO orders (order_id, customer_id, order_date, total_amount)
VALUES (1, 1, '2022-01-01', 100.00);

INSERT INTO order_items (order_item_id, order_id, product_name, quantity, price)
VALUES (1, 1, 'Product A', 2, 50.00),
       (2, 1, 'Product B', 1, 25.00);

-- Query to retrieve order details with customer information
SELECT o.order_id, c.first_name, c.last_name, o.order_date, o.total_amount, oi.product_name, oi.quantity, oi.price
FROM orders o
JOIN customers c ON o.customer_id = c.customer_id
JOIN order_items oi ON o.order_id = oi.order_id;