# About This Notebook

Since this notebook shows vendor-specific extensions, I wont' bother to try to run it.

# SQL in Big Data Ecosystem (e.g., HiveQL)
Explanation:
In this code snippet, we are demonstrating the usage of SQL in a Big Data ecosystem, specifically using HiveQL. HiveQL is a variation of SQL that is used in Apache Hive, a data warehouse infrastructure built on top of Hadoop.

The code begins by creating a table called "employees" with columns for id, name, age, and salary. This table will be used to store employee data.

Next, we insert some sample data into the "employees" table using the `INSERT INTO` statement. Multiple rows can be inserted in a single statement by separating them with commas.

Finally, we query all the employees from the "employees" table using the `SELECT` statement. The `*` symbol is used to select all columns from the table.

When executed, the code will create the table, insert the sample data, and then print the result of the SELECT query, which should display the employee data.

Expected output:
```
1 | John Doe | 30 | 5000.00
2 | Jane Smith | 35 | 6000.00
3 | Mike Johnson | 40 | 7000.00
```

In [ ]:
-- Create a table to store employee data
CREATE TABLE employees (
    id INT,
    name VARCHAR(100),
    age INT,
    salary DECIMAL(10, 2)
);

-- Insert some sample data into the table
INSERT INTO employees (id, name, age, salary)
VALUES (1, 'John Doe', 30, 5000.00),
       (2, 'Jane Smith', 35, 6000.00),
       (3, 'Mike Johnson', 40, 7000.00);

-- Query all employees
SELECT * FROM employees;

# Vendor-specific SQL Extensions (e.g., T-SQL, PL/SQL)
Summary:
This code snippet demonstrates some of the vendor-specific SQL extensions, namely T-SQL (used by Microsoft SQL Server) and PL/SQL (used by Oracle Database). 

In T-SQL, we showcase the declaration and usage of variables, the IF statement for conditional logic, and the creation and execution of a stored procedure.

Please note that PL/SQL examples are not included in this code snippet as it is specific to Oracle Database. However, similar concepts like variable declaration, conditional statements, and stored procedures exist in PL/SQL as well.

In [ ]:
-- This code snippet demonstrates vendor-specific SQL extensions, specifically T-SQL and PL/SQL.

-- T-SQL (Transact-SQL) is the proprietary extension to SQL used by Microsoft SQL Server.
-- It includes additional features and syntax that are not part of the SQL standard.

-- Example 1: Declaring a variable and printing its value
DECLARE @name VARCHAR(50) = 'John Doe';
PRINT 'Hello, ' + @name; -- Expected output: Hello, John Doe

-- Example 2: Using IF statement
DECLARE @age INT = 25;
IF @age >= 18
    PRINT 'You are an adult.'; -- Expected output: You are an adult.
ELSE
    PRINT 'You are a minor.';

-- Example 3: Creating a stored procedure
CREATE PROCEDURE GetEmployeeCount
AS
BEGIN
    SELECT COUNT(*) AS EmployeeCount FROM Employees;
END;

-- Example 4: Executing a stored procedure
EXEC GetEmployeeCount; -- Expected output: EmployeeCount