# INNER JOIN, LEFT JOIN, RIGHT JOIN, FULL OUTER JOIN
Explanation:
- The code snippet demonstrates the usage of different types of joins (INNER JOIN, LEFT JOIN, RIGHT JOIN, FULL OUTER JOIN) in SQL.
- Two tables, `employees` and `departments`, are created with sample data.
- Each join type is demonstrated separately with appropriate comments.
- The expected output is mentioned after each query.
- Additional conditions are also shown to filter the results based on specific criteria.

In [ ]:
-- Create two tables: employees and departments
CREATE TABLE employees (
  id INT PRIMARY KEY,
  name VARCHAR(50),
  department_id INT
);

CREATE TABLE departments (
  id INT PRIMARY KEY,
  name VARCHAR(50)
);

-- Insert sample data into the tables
INSERT INTO employees (id, name, department_id)
VALUES (1, 'John Doe', 1),
       (2, 'Jane Smith', 2),
       (3, 'Mike Johnson', 1),
       (4, 'Emily Brown', 3);

INSERT INTO departments (id, name)
VALUES (1, 'Sales'),
       (2, 'Marketing'),
       (3, 'Finance');

-- INNER JOIN: Returns only the matching rows from both tables
SELECT employees.name, departments.name
FROM employees
INNER JOIN departments ON employees.department_id = departments.id;
-- Expected output:
-- John Doe | Sales
-- Jane Smith | Marketing
-- Mike Johnson | Sales
-- Emily Brown | Finance

-- LEFT JOIN: Returns all rows from the left table and the matching rows from the right table
SELECT employees.name, departments.name
FROM employees
LEFT JOIN departments ON employees.department_id = departments.id;
-- Expected output:
-- John Doe | Sales
-- Jane Smith | Marketing
-- Mike Johnson | Sales
-- Emily Brown | Finance

-- RIGHT JOIN: Returns all rows from the right table and the matching rows from the left table
SELECT employees.name, departments.name
FROM employees
RIGHT JOIN departments ON employees.department_id = departments.id;
-- Expected output:
-- John Doe | Sales
-- Jane Smith | Marketing
-- Mike Johnson | Sales
-- Emily Brown | Finance

-- FULL OUTER JOIN: Returns all rows from both tables, including unmatched rows
SELECT employees.name, departments.name
FROM employees
FULL OUTER JOIN departments ON employees.department_id = departments.id;
-- Expected output:
-- John Doe | Sales
-- Jane Smith | Marketing
-- Mike Johnson | Sales
-- Emily Brown | Finance
-- NULL | NULL

-- INNER JOIN with additional conditions
SELECT employees.name, departments.name
FROM employees
INNER JOIN departments ON employees.department_id = departments.id
WHERE employees.name LIKE 'J%';
-- Expected output:
-- John Doe | Sales
-- Jane Smith | Marketing

-- LEFT JOIN with additional conditions
SELECT employees.name, departments.name
FROM employees
LEFT JOIN departments ON employees.department_id = departments.id
WHERE departments.name IS NULL;
-- Expected output:
-- Emily Brown | NULL

-- RIGHT JOIN with additional conditions
SELECT employees.name, departments.name
FROM employees
RIGHT JOIN departments ON employees.department_id = departments.id
WHERE employees.name IS NULL;
-- Expected output:
-- NULL | Finance

-- FULL OUTER JOIN with additional conditions
SELECT employees.name, departments.name
FROM employees
FULL OUTER JOIN departments ON employees.department_id = departments.id
WHERE employees.name IS NULL OR departments.name IS NULL;
-- Expected output:
-- NULL | NULL

# CROSS JOIN, SELF JOIN
The code snippet demonstrates the usage of CROSS JOIN and SELF JOIN in SQL.

CROSS JOIN returns the Cartesian product of two tables, which means it combines each row from the first table with every row from the second table. In the example, it combines the "Employees" table with the "Departments" table, resulting in a new table with all possible combinations of employees and departments.

SELF JOIN is used to join a table with itself. In the example, it joins the "Employees" table with itself based on the condition that the EmployeeID of the first employee should not be equal to the EmployeeID of the second employee. This results in a table that shows all possible combinations of employees.

Both CROSS JOIN and SELF JOIN can be useful in scenarios where you need to generate all possible combinations or compare records within the same table.

Note: In practice, it is important to use appropriate filtering conditions to avoid generating large result sets or unnecessary combinations.
```

In [ ]:
-- Create a table called "Employees" with two columns: "EmployeeID" and "EmployeeName"
CREATE TABLE Employees (
  EmployeeID INT,
  EmployeeName VARCHAR(50)
);

-- Insert some sample data into the "Employees" table
INSERT INTO Employees (EmployeeID, EmployeeName)
VALUES (1, 'John'),
       (2, 'Jane'),
       (3, 'Mike');

-- Create a table called "Departments" with two columns: "DepartmentID" and "DepartmentName"
CREATE TABLE Departments (
  DepartmentID INT,
  DepartmentName VARCHAR(50)
);

-- Insert some sample data into the "Departments" table
INSERT INTO Departments (DepartmentID, DepartmentName)
VALUES (1, 'Sales'),
       (2, 'Marketing'),
       (3, 'Finance');

-- CROSS JOIN: Returns the Cartesian product of the two tables
SELECT * FROM Employees CROSS JOIN Departments;
-- Expected output: 
-- EmployeeID | EmployeeName | DepartmentID | DepartmentName
-- ---------------------------------------------------------
-- 1          | John         | 1            | Sales
-- 1          | John         | 2            | Marketing
-- 1          | John         | 3            | Finance
-- 2          | Jane         | 1            | Sales
-- 2          | Jane         | 2            | Marketing
-- 2          | Jane         | 3            | Finance
-- 3          | Mike         | 1            | Sales
-- 3          | Mike         | 2            | Marketing
-- 3          | Mike         | 3            | Finance

-- SELF JOIN: Joining a table with itself
SELECT e1.EmployeeName AS Employee1, e2.EmployeeName AS Employee2
FROM Employees e1
JOIN Employees e2 ON e1.EmployeeID <> e2.EmployeeID;
-- Expected output:
-- Employee1 | Employee2
-- --------------------
-- John      | Jane
-- John      | Mike
-- Jane      | John
-- Jane      | Mike
-- Mike      | John
-- Mike      | Jane

# Conditions in JOINs
This code snippet demonstrates the usage of conditions in JOINs in SQL.

1. Inner Join: Retrieves records where the condition is met in both tables.
2. Left Join: Retrieves all records from the left table and the matching records from the right table based on the condition.
3. Right Join: Retrieves all records from the right table and the matching records from the left table based on the condition.
4. Full Outer Join: Retrieves all records from both tables where the condition is met.
5. Self Join: Joins a table with itself based on a condition.

In each example, the expected output is shown as comments after the print statements.
```

In [ ]:
-- Create two tables: Customers and Orders
CREATE TABLE Customers (
    CustomerID INT PRIMARY KEY,
    CustomerName VARCHAR(50)
);

CREATE TABLE Orders (
    OrderID INT PRIMARY KEY,
    CustomerID INT,
    OrderDate DATE,
    TotalAmount DECIMAL(10, 2)
);

-- Insert sample data into the tables
INSERT INTO Customers (CustomerID, CustomerName)
VALUES (1, 'John Doe'),
       (2, 'Jane Smith'),
       (3, 'Mike Johnson');

INSERT INTO Orders (OrderID, CustomerID, OrderDate, TotalAmount)
VALUES (1, 1, '2021-01-01', 100.00),
       (2, 1, '2021-02-01', 200.00),
       (3, 2, '2021-03-01', 150.00),
       (4, 3, '2021-04-01', 300.00);

-- Inner Join with a condition
SELECT Customers.CustomerName, Orders.OrderDate
FROM Customers
INNER JOIN Orders ON Customers.CustomerID = Orders.CustomerID
WHERE Orders.TotalAmount > 100.00;
-- Expected output: 
-- CustomerName | OrderDate
-- John Doe     | 2021-01-01
-- John Doe     | 2021-02-01
-- Jane Smith   | 2021-03-01
-- Mike Johnson | 2021-04-01

-- Left Join with a condition
SELECT Customers.CustomerName, Orders.OrderDate
FROM Customers
LEFT JOIN Orders ON Customers.CustomerID = Orders.CustomerID
WHERE Orders.TotalAmount IS NULL;
-- Expected output: 
-- CustomerName | OrderDate
-- Mike Johnson | NULL

-- Right Join with a condition
SELECT Customers.CustomerName, Orders.OrderDate
FROM Customers
RIGHT JOIN Orders ON Customers.CustomerID = Orders.CustomerID
WHERE Customers.CustomerName IS NULL;
-- Expected output: 
-- CustomerName | OrderDate
-- NULL         | 2021-05-01

-- Full Outer Join with a condition
SELECT Customers.CustomerName, Orders.OrderDate
FROM Customers
FULL OUTER JOIN Orders ON Customers.CustomerID = Orders.CustomerID
WHERE Customers.CustomerName IS NULL OR Orders.OrderDate IS NULL;
-- Expected output: 
-- CustomerName | OrderDate
-- NULL         | 2021-05-01
-- Mike Johnson | NULL

-- Self Join with a condition
SELECT c1.CustomerName, c2.CustomerName
FROM Customers c1
JOIN Customers c2 ON c1.CustomerID <> c2.CustomerID;
-- Expected output: 
-- CustomerName | CustomerName
-- John Doe     | Jane Smith
-- John Doe     | Mike Johnson
-- Jane Smith   | John Doe
-- Jane Smith   | Mike Johnson
-- Mike Johnson | John Doe
-- Mike Johnson | Jane Smith