Dependencies:

- `conda install jupysql duckdb-engine`

Usage:

- use a __python__ notebook but load the __sql extension__

In [1]:
%load_ext sql

# This cell needs to run to enable SQL in all the other cells.

In [2]:
%sql duckdb://
    
# This cell needs to run to allow for loading files as SQL tables.
# As far as I can tell, subfolders are not allowed either above or
# in queries.

In [4]:
%%sql
SELECT *
FROM penguins.csv
WHERE bill_length_mm > 40
LIMIT 10

Running query in 'duckdb://'

+---------+-----------+----------------+---------------+-------------------+-------------+--------+
| species |   island  | bill_length_mm | bill_depth_mm | flipper_length_mm | body_mass_g |  sex   |
+---------+-----------+----------------+---------------+-------------------+-------------+--------+
|  Adelie | Torgersen |      40.3      |      18.0     |        195        |     3250    | FEMALE |
|  Adelie | Torgersen |      42.0      |      20.2     |        190        |     4250    |  None  |
|  Adelie | Torgersen |      41.1      |      17.6     |        182        |     3200    | FEMALE |
|  Adelie | Torgersen |      42.5      |      20.7     |        197        |     4500    |  MALE  |
|  Adelie | Torgersen |      46.0      |      21.5     |        194        |     4200    |  MALE  |
|  Adelie |   Biscoe  |      40.6      |      18.6     |        183        |     3550    |  MALE  |
|  Adelie |   Biscoe  |      40.5      |      17.9     |        187        |     3200    | FEMALE |
|  Adelie |   Biscoe  |      40.5      |      18.9     |        180        |     3950    |  MALE  |
|  Adelie |   Dream   |      40.9      |      18.9     |        184        |     3900    |  MALE  |
|  Adelie |   Dream   |      42.2      |      18.5     |        180        |     3550    | FEMALE |
+---------+-----------+----------------+---------------+-------------------+-------------+--------+
Truncated to displaylimit of 10.