In [1]:
%load_ext sql
%sql duckdb://

# About This Notebook

Because JupySQL doesn't support transactions, these examples (AI-generated) are left here unaltered except for the slight changes I made at the beginning to find out that transactions aren't supported.

# ACID properties
Explanation:
In this code snippet, we demonstrate the usage of transactions and concurrency control in SQL, specifically focusing on the ACID properties.

ACID stands for Atomicity, Consistency, Isolation, and Durability, which are the key properties that ensure the reliability and integrity of database transactions.

1. Atomicity: The `BEGIN TRANSACTION`, `COMMIT`, and `ROLLBACK` statements are used to define the boundaries of a transaction. In this example, we start a transaction using `BEGIN TRANSACTION`, perform some updates, and then either commit the changes using `COMMIT` or rollback the changes using `ROLLBACK`. If a transaction is committed, all the changes made within the transaction are permanently saved. If a transaction is rolled back, all the changes made within the transaction are discarded.

2. Consistency: The consistency of the data is maintained by defining appropriate constraints and rules on the database schema. In this example, we assume that the account balance should not go below zero, so we update the balance accordingly.

3. Isolation: SQL databases provide isolation levels to control the visibility and interaction of concurrent transactions. In this example, we demonstrate a simple scenario where two transactions update different account balances concurrently. The changes made by one transaction are not visible to the other until the transaction is committed.

4. Durability: Once a transaction is committed, the changes made within the transaction are durable and will persist even in the event of a system failure. In this example, we demonstrate the durability property by printing the balance after committing the transaction.

By using transactions and ensuring the ACID properties, we can maintain data integrity and reliability in SQL databases.

In [2]:
%%sql

CREATE TABLE transactions (
    id INT PRIMARY KEY,
    account_number INT,
    amount DECIMAL(10, 2),
    transaction_date DATE
);

INSERT INTO transactions (id, account_number, amount, transaction_date)
VALUES (1, 123456, 100.00, '2022-01-01'),
       (2, 123456, -50.00, '2022-01-02'),
       (3, 789012, 200.00, '2022-01-03');

Running query in 'duckdb://'

+-------+
| Count |
+-------+
+-------+

In [3]:
%%sql

BEGIN TRANSACTION;

Running query in 'duckdb://'

RuntimeError: JupySQL does not support transactions
If you need help solving this issue, send us a message: https://ploomber.io/community

In [ ]:
-- Update the balance for account number 123456
UPDATE transactions
SET amount = amount + 50.00
WHERE account_number = 123456;

-- Print the updated balance
SELECT amount
FROM transactions
WHERE account_number = 123456;
-- Expected output: 150.00

-- Rollback the transaction
ROLLBACK;

-- Print the balance after rollback
SELECT amount
FROM transactions
WHERE account_number = 123456;
-- Expected output: 100.00

-- Start a new transaction
BEGIN TRANSACTION;

-- Update the balance for account number 789012
UPDATE transactions
SET amount = amount - 100.00
WHERE account_number = 789012;

-- Print the updated balance
SELECT amount
FROM transactions
WHERE account_number = 789012;
-- Expected output: 100.00

-- Commit the transaction
COMMIT;

-- Print the balance after commit
SELECT amount
FROM transactions
WHERE account_number = 789012;
-- Expected output: 100.00

-- Drop the table
DROP TABLE transactions;

# COMMIT, ROLLBACK
Summary:
In SQL, transactions are used to group multiple database operations into a single logical unit. The `COMMIT` statement is used to permanently save the changes made within a transaction, while the `ROLLBACK` statement is used to undo the changes made within a transaction.

In the provided code snippet, we first create a table called `employees` to store employee information. Then, we insert some sample data into the table. 

Next, we start a transaction using the `BEGIN TRANSACTION` statement. Within the transaction, we update an employee's salary using the `UPDATE` statement and print the updated salary using the `SELECT` statement. 

After that, we rollback the transaction using the `ROLLBACK` statement, which undoes the changes made within the transaction. We then print the salary again to verify that it has been rolled back.

Following that, we start a new transaction and update another employee's salary. We print the updated salary and then commit the transaction using the `COMMIT` statement, which permanently saves the changes made within the transaction. Finally, we print the salary again to verify that it has been committed.

By using transactions and the `COMMIT` and `ROLLBACK` statements, we can ensure data consistency and integrity in our database operations.

In [ ]:
-- Create a table to store employee information
CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    salary DECIMAL(10, 2)
);

-- Insert some sample data
INSERT INTO employees (id, name, salary) VALUES (1, 'John Doe', 5000.00);
INSERT INTO employees (id, name, salary) VALUES (2, 'Jane Smith', 6000.00);

-- Start a transaction
BEGIN TRANSACTION;

-- Update an employee's salary
UPDATE employees SET salary = 5500.00 WHERE id = 1;

-- Print the updated salary
SELECT salary FROM employees WHERE id = 1;
-- Expected output: 5500.00

-- Rollback the transaction
ROLLBACK;

-- Print the salary after rollback
SELECT salary FROM employees WHERE id = 1;
-- Expected output: 5000.00

-- Start a new transaction
BEGIN TRANSACTION;

-- Update an employee's salary
UPDATE employees SET salary = 6500.00 WHERE id = 2;

-- Print the updated salary
SELECT salary FROM employees WHERE id = 2;
-- Expected output: 6500.00

-- Commit the transaction
COMMIT;

-- Print the salary after commit
SELECT salary FROM employees WHERE id = 2;
-- Expected output: 6500.00